*{
  box-sizing: border-box;
  text-align: center;
}
.logo{
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.nav{
}
.pads{
  padding-top: 1px;
  padding-bottom: 1px;
}
.shrink{
  max-width: 50%;
}
